/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

	/*header start*/
	.menu ul li a{
		padding: 0 !important;
		text-align: right !important;
	}
	.con-tact{
	margin-right: 0px;
}
.sign{
	text-align: right;
}
	/*header end*/
	/*banner start*/
	.contant{
    padding: 70px 0 0 0;
}
			.banner-m {
    font-size: 17px;
    margin: 20px 0;
    line-height: 25px;
}
.text {
    font-size: 16px;
    margin: 20px 0;
  
}
.banner-form {
    margin-top: 40px;
    margin-bottom: 80px;
}
	/*banner end*/
	
	/*slide strat*/
		.slide {
    padding: 30px 0 40px 0;
}
	.slide-head{
    font-size: 16px;
}
.slide-text {
    margin: 30px 0;
}
.download{
	margin: 30px auto;
}
	/*slide end*/
	/*blogx start */
	.blog,.blogx,.blog2,.blog3,.blog4,.blog5,.blog6{
		padding: 70px 0 80px 0;
}
.slide-content1{
	    margin-top: 0px;
}
 /*blog end*/
	/*blog 2 start*/
	.blog2-h1,.blog4-h1 {
    font-size: 22px;
}
.thought {
    margin-top: 30px;
}
.blog2-text {
    letter-spacing: 0px;
}
	/*blog 2 end*/
	/*blog 3 start*/
	.blog3-contant {
    margin-bottom: 30px;
}
/*blog 3 end*/
/*blog4 start*/

.client-cmt {
    margin-top: 30px;
}

/*blog 3 end*/
.icon1 {
    font-size: 18px;
}
.icon1 li{
	    margin: 0 5px;
}	
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/*header start*/
	.menu ul li a{
		padding: 0 !important;
		text-align: right !important;
	}
	.con-tact{
	margin-right: 0px;
}
.sign{
	text-align: right;
}
	/*header end*/
	/*banner start*/
	.contant {
    padding: 80px 0 0px 0;
}
		.banner-m {
    font-size: 27px;
    margin: 37px 0;
}
.text {
    font-size: 16px;
    margin: 37px 0;
    text-align: justify;
}
.banner-form {
    margin-top: 37px;
    margin-bottom: 90px;
}
	/*banner end*/
	
	/*slide strat*/
	.slide{
    padding: 40px 0 50px 0;
}
.slide-head {
    font-size: 18px;
}
.slide-text {
    font-size: 14px;
    margin: 20px 0;
}
.download{
	margin: 30px auto;
}
	/*slide end*/
	/*blogx start */
	.blog,.blogx,.blog2,.blog3,.blog4,.blog5,.blog6{
      padding: 80px 0 90px 0;
	}
	.blog-md-sm{
	margin-top: 30px;
}
	.slide-content1{
	    margin-top: 0px;

}
 /*blog end*/
	/*blog 2 start*/
	.blog2-text {
    letter-spacing: 0px;
}
	
	/*blog 2 end*/
	/*blog 3 start*/
	.blog3-contant {
    margin-bottom: 40px;
}
/*blog 3 end*/

/*blog4 start*/
.blog4-h1{
	font-size: 27px;
}
#talkbubble {
    width: 234px;
    height: 159px;
    }
    #talkbubble:before {
    top: 159px;
}
.s-con-p{
	  padding: 18px;
}
.client-cmt {
    margin-top: 30px;
}
/*blog4 end*/
	.icon1 {
    font-size: 26px;
}
.icon1 li{
	    margin: 0 15px;
}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*header start*/
	.menu ul li a{
		padding: 0 !important;
		text-align: right !important;
	}
	.con-tact{
	margin-right: 0px;
}
.sign{
	text-align: right !important;
}
	/*header end*/
	/*banner start*/
	.banner-m {
    font-size: 18px;
    line-height: 25px;
    margin: 37px 0;
}
.text {
    font-size: 14px;
    margin: 37px 0;
    text-align: justify;
}
	/*banner end*/
	
	/*slide strat*/
	.slide{
	padding: 50px 0 60px 0;
}
	.slide-head {
    font-size: 15px;
}
.slide-text {
    margin: 30px 0;
}
.download{
	margin: 10px auto 30px;
}


	/*slide end*/
	.blog-md-sm{
	margin-top: 30px;
}
	.blog2-h1 {
    font-size: 33px;
}
	/*blogx start */
	.slide-content1{
	    margin-top: 0px;
}
 /*blogx end*/

/*blog4 start*/
.blog4-h1{
	font-size: 27px;
}
#talkbubble {
    width: 321px;
    height: 124px;
 }
 #talkbubble:before {
    top: 124px;
}
.s-con-p{
	  padding: 20px;
}
 /*blog4 end*/
 .icon1 {
    font-size: 32px;
}

	
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

	/*banner start*/
	.banner-m {
    font-size: 30px;
}
/*banner end*/
/*blog1 start*/
	.slide-text {
    margin: 30px 0;
}
	/*blog1 end*/
}
/* custom ex Large devices (desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {


}


/* custom Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {


}