/*/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/
*{
	font-family: 'Open Sans', sans-serif;
	color: #86878b;
}
header{
	background-color:black;
	padding: 10px 0; 
}
.btn-toggler{
	background-color: white;
}
.menu ul li a{
	font-weight: 600;
	font-size: 14px;
	color: #ffffff !important ;
	text-transform: capitalize;
	padding: 0 27px !important;
	transition: .3s;
}
.con-tact{
	margin-right: 27px;
}
.menu ul li a:hover{
	color:  #86878b  !important;
}
.m-bg-c{
	background-color: #f5f5f5;
}
.cross{
	padding: 4px 8px !important;
}
.cross:hover{
	background-color: #ff8b38!important;
	border: none;
}
.cross:focus{
	outline: none;
}
.form-control2{
	background-color: #f5f5f5;
}


/*header end*/
/*banner start*/
.banner{
	background-image: url(../images/banner.jpg);
	background-position:center;
	background-size: cover;
	background-repeat: no-repeat;
}
.contant{
	padding: 90px 0 100px 0;
}
.banner-a{
	color: white;
	font-weight: 700;
}
.banner-it{
	color: #f28437;
	font-weight: normal;	
}
.banner-m{
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	color: #ffffff ;
	text-transform: uppercase;
	margin: 40px 0;
}
.line{
	border: 2px solid #ffffff;
	width: 70px;	
}
.text,.use{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 16px;
	margin: 40px 0;
}
.box,.box2,.box3{
	font-weight: 600;
	font-size: 15px;
	border-radius: 0px;
	transition: 0.4s
}
.box,.box3:focus{
	outline: none;
	box-shadow: none !important;
}
.banner-form{
	margin-top: 120px;
}
/*form*/
.card-custom{
	border: none !important;
}
.chd-custom{
	font-weight: 700;
	font-size: 20px;
	color: black;
	background-color: #f5f5f5;
}
.free{
	color: #ff8b38;
	text-transform: uppercase;
}
.btn-f-cus{
	font-weight: 600;
	font-size: 15px;
	color: white;
	background-color: #ff8b38;
}
.btn-f-cus:focus{
	outline: none;
	box-shadow: none !important;
}
.form-control1,.form-control2{
	box-shadow: 0 1px;
	font-family: 'Open Sans', sans-serif;
	color: #86878b;
}
/*banner end*/
/*slide strat*/
.slide,.blogx,.blog3{
	background-color: #f5f5f5;
	padding: 90px 0 100px 0;
}
.slide-head,.blog2-head{
	font-weight: 700;
	font-size: 20px;
	color: #333333;
}
.tab1{
	height: 110px;
	width: 110px;
	background-color: black !important;
	color: white !important;
	text-align: center;
	border-bottom-color: white !important;
}
.tab1:hover{
	background-color: #ff8b38 !important;
}
.tab1.active{
	background-color: #ff8b38 !important;
}
.car li{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color:#ff8b38;
}
.slide-text{
	font-size: 14px;
	margin: 40px 0;
}
.download{}
.box2,.custom-from1:focus{
	outline: 0;
	box-shadow:none !important;
}
.box2{
	background-color: #ff8b38;
	color: white;
}
.box2:hover{
	background-color: white;
	color:black;
}
/*slide end*/
.blog,.blog2,.blog5,.blog6{
	padding: 90px 0 100px 0;
}
.circle,.circle2{
	width: 45px;
	height: 45px;
	border: 2px solid #ff8b38;
	border-radius: 50%;
}
.circle i,.circle2 i{
	color: #ff8b38;
	font-size: 20px;
	transition: .7s;
	margin: 11px 9px
}
.circle i:hover{
	transform: scaleY(-1.1);
}
.Title{
	font-weight: 600;
	font-size: 14px;
	color: #212121;
}
.slide-text1{
	font-size: 14px;
}
/*blog1 end*/
/*blogx start */
.slide-content1{
	margin-top: 40px;
}
/*blogx end*/
/*blog 2 start*/
.slide-text2{
	font-size: 14px;
}
.blog2-h1,.blog4-h1,.blog5-h1{
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	color:#212121;
}
.thought{
	margin-top: 40px;
}
.blog2-head{
	margin: 20px 0;
}
.blog2-text{
	font-size: 14px;
	letter-spacing: 0.4px;
}
/*blog2 end*/
/*blog3 start*/
.blog3-contant{
	margin-bottom: 60px;
}
.custom-heading{
	font-weight: 700;
	font-size: 20px;
	background-color: #333333;
	color:white;
	border-bottom: 2px solid white;
}
.custom-card1{
	background-color: #333333;
	border-bottom: 4px solid #ff8b38;
}
.custom-card2{
	background-color: #333333;
}
.doler{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 33px;
	color:white;
}
.money{
	color:white;
	font-size: 90px;
}
.doler-text{
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
}
.middel{
	box-shadow: 0 4px 30px 0 rgba(0,0,0,0.9);
}
.card2-custom{
	transition: 0.9s
}
.card2-custom:hover{
	transform: scale(1.1);
}
.populer{
	font-weight: 700;
	font-size: 14px;
	background-color: #ff8b38;
	margin-top: -1px;   
	color: white;
}
.amuont{
	margin-top: 40px;	
}
.life li{
	font-size: 14px;
}
/*blog3 end*/
/*blog4 start */
.blog4{
	padding: 90px 0 100px 0;
}
.client-cmt{
	margin-top: 40px;
}
#talkbubble {
	width: 291px;
	height: 148px;
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
#talkbubble:before {
	content: "";
	position: absolute;
	right: 100%;
	top: 148px;
	width: 0;
	left: 20px;
	height: 0;
	border-left: 13px solid transparent;
	border-top: 26px solid  #f5f5f5;
	border-right: 13px solid transparent;
}
.s-con-p{
	font-size: 14px;
	padding: 21px;
}
.client-cmt{
	background-color: #f5f5f5 !important;
}
.pictures {
	width: 73px;
	height: 73px;
	border-radius: 50%;
	margin-top: 41px;
}
.manager{
	margin-top: 47px;
}
.jermany{
	font-size: 20px;
	font-weight: 700;
	color: black;
}
/*blog4 end */
/*blog5 start*/
.blog5{
	background-image: url(../images/back.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.blog5-h1{
	color: white;
}
.use{
	margin: 0px;  
}
.box3{
	margin-top: 40px;
}
/*blog5 end*/
/*blog6 start*/
.s-form{
	margin-top: 40px;
}
.custom-from1{
	margin-bottom: 10px;
}
.send{
	margin-top: 35px; 
}
.custom-from1:focus{
	border-color:#86878b;
}

/*blog6 end*/
/*footer start*/
.footer{
	background-color: black;
}
.icons{
	margin-top: 13px;
}
.icon1{
	font-size: 40px
}
.icon1 li{
	margin: 0 28px;
}
.icon1 li i{
	transition: 0.5s;
}
.icon1 li i:hover{
	color: white;
	transform: scale(1.1);
}
.footer-text{
	font-size: 12px;
}
/*footer end*/